/* ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS  */
*{
    margin:0px;
    padding: 0px;
}
body{
    /* height: 5120px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}
/* Barra de navegacion */
nav{
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #fbf5ea;
    text-align: center;
    height: 80px;
}

/* Documentacion listas https://developer.mozilla.org/en-US/docs/Web/CSS/list-style  */
nav ul li {
    color: black;
    display:inline-block;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 20px;

    
}
nav ul{
    list-style: none; /* Oculta el punto de la lista desordenada  */
    text-align:center; /*Centra la lista */
    height: 80px;
}

/* Secciones en general*/
section{
    height: 730px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: solid black;
}

/* Entradas de texto */
h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
    color: black;
}
h1, h2, h3{
    font-family: 'League Spartan', sans-serif;
}
h2{
    font-size: 30px;
    text-align: center;
    line-height: 25px;
}
h3{
    color: black;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    color: black;
}
/* Cambio de color */
span{
    color: #FCA700;
    font-size: 45px;
}

/* Animacion a enlaces internos y externos */
a:any-link{
    color: black;  
}
a:-webkit-any-link{
    color: black;
}
a:-moz-any-link{
    color: black;
} 
a:hover{
    color: #FCA700;   
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* Centrar un button  */
button {
    display: block;
    width: 200px;
    margin: auto;
}

/* ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID  */

/* Configuracion por la barra de navegacion  */
#home{
    height: 650px;
    padding-top: 200px;
}
#about-me{
    text-align: center;
}
/* Posiciona la barra de navegacion ordenada a la derecha 
y deja de ser una lista con float */

/* Segunda seccion  */
#project{
    padding-top: 50px;
}

/* Seccion proyectos FLEX */
#contenedor {
    /* background-color: #e8aeae; */
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 5px;
    
} 

/* Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases  */

/* Barra de navegacion */
.nav{
    font-size: 19px;
}
/* Estilos a .clases  */
.profesion{
    color: #666060;
    /* text-align: center;  */
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 44px;
    text-align: center;
}

/* Cambiar a footer en html */
.redes-sociales{
    margin-top: 200px;
    margin-right: 10px;
    float: right;
}

/* Contenedores en seccion PROJECT FLEX */

/* Cambiar nombres de clases  */
.project-portfolio h3{
    font-size: 20px;
    /* width: auto; */
    text-align: center;
    margin-top: 15px;
}

/* boton */
.project-portfolio .info-project{
    margin-top: 15px;
    width: 100px;
    height: 40px;
    border:  transparent;
    color: black;
    background-color: #FCA700;
    /* hacer bordes redondos  */
    border-radius: 50px;
    font-size: 18px;
    font-family: 'League Spartan', sans-serif;
}

/* Imagenes  */
.project-portfolio .project-img{
    width: 80%;
    padding-left: 40px;
    
}

/* Ancho de ARTICLE  */
.project-portfolio{
    width: 350px;
}


/* Div centrado de seccion PROJECT */
.network-project{
    text-align: center;
    margin: autox;
    color: black;
    margin: 0 auto;
    margin-top: 10px;
    
}

/* Margenes entre iconos de redes en seccion PROJECT */
.network-project i{
    margin: 15px;
}