/* ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS  */
*{
    margin:0px;
    padding: 0px;
}
body{
    /* height: 5120px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
}

/* Secciones en general*/
section{
    height: 730px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: solid black;
    margin-left: 50px;
    margin-right: 50px;
}

/* Entradas de texto */
h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 50px;
    color: black;
}
h1, h2, h3{
    font-family: 'League Spartan', sans-serif;
}
h2{
    font-size: 30px;
    text-align: center;
    line-height: 25px;
}
h3{
    color: black;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    color: black;
}
/* Cambio de color */
span{
    color: #FCA700;
    font-size: 45px;
}

/* Animacion a enlaces internos y externos */
a:any-link{
    color: black;  
}
a:-webkit-any-link{
    color: black;
}
a:-moz-any-link{
    color: black;
} 
a:hover{
    color: #FCA700;   
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}



/* ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID  */

/* Barra de navegacion----------------------------------------------------------------------------------------------------------------------------------------------------- */
#nav-bar{
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #fbf5ea;
    text-align: center;
    height: auto;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}
#container-nav{
    width: 350px;
}
#nav-bar__lista{
    display: flex;
    justify-content: space-between;
    list-style:none;
    gap:  10px;
}
/* Documentacion listas https://developer.mozilla.org/en-US/docs/Web/CSS/list-style  */
#nav-bar #nav-bar__lista .nav-bar__tag{
    /* display:inline-block;
    text-align: center; */
    color: black;
    padding-top: 30px;
    /* margin-right: 20px;  */
    padding-bottom: 20px;
    
}





/* Home ----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Configuracion por la barra de navegacion  */
#section-home{
    height: 520px; 
    padding-top: 100px;
    margin-bottom: 0px;
    
}

/* GRID  */
#section-home img{
    width: 110px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}

#section-home p{
    padding-top: 5px;
    /* overflow: auto; */
    overflow: visible;
    height: auto;
}

/* Seccion Redes  -------------------------------------------------------------------------- -------------------------------------------------------------------------- */
/* #redes{
    text-align: center;
}
#redes i{
    margin-right: 20px;
} */

#section-redes{
    height: 175px;
}

#section-home h5{
    color: black;
    font-size: 50px;
    margin-top: 100px;
}

#section-redes{
    height: 175px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 40%;
    justify-items: center;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#container-redes{
    width: 200px ;
}
#container-redes #redes {
    display: flex;
    justify-content:space-between;
}

#redes {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}

#section-home{
    display: grid;
    grid-template-columns:auto ;
    grid-template-rows: 45% 30% 25%;
    place-items: center;
}

/* Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases  */

/* Barra de navegacion */
.nav-bar__section{
    font-size: 19px;
}
/* Estilos a .clases  */
.profesion{
    color: #666060;
    /* text-align: center;  */
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 44px;
    text-align: center;
}





/* Project  -------------------------------------------------------------------------- --------------------------------------------------------------------------*/
#section-project{
    height: 790%;
    padding-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Seccion proyectos FLEX */
#section-project__container {
    /* background-color: #e8aeae;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 10px 80px; */
    margin-top: 70px;
    text-align: center;
    flex-wrap: wrap;
    
} 

/* BOTON SEE MORE fuera del blocke  */
#section-project__see-more{
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 50px;
    border-radius: 50px;
    border-color: transparent;
    background-color: black;
    font-family: 'League Spartan', sans-serif;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    color: #FCA700;
}

#section-project__see-more:hover{
    background-color: #FCA700;
    color: black;   
}

/* Contenedores en seccion PROJECT FLEX */

/* Cambiar nombres de clases  */
.section-project__block h3{
    font-size: 20px;
    /* width: auto; */
    text-align: center;
    margin-top: 15px;
}

/* Ancho de ARTICLE  */
.section-project__block{
    width: 350px;
    background-color: #fbf5ea;
    border-radius: 50px;
    margin: 20px;

}


/* Boton dentro del blocke */
.section-project__block .section-project__info{
    margin-top: 15px;
    width: 100px;
    height: 40px;
    border:  transparent; 
    /* hacer bordes redondos  */
    border-radius: 50px;
    font-size: 18px;
    font-family: 'League Spartan', sans-serif;
    color: black;
    background-color: #fca80091;
}
.info-project:hover{
    background-color: #FCA700;
    color: black; 
    /* transition: background-color 0.5s;  */
}

/* Imagenes  */
.section-project__block .project-img{
    width: 80%; 
    /* padding-left: 40px; */
    margin-top: 15px;  
    
}

/* Div centrado de seccion PROJECT */
.section-project__project{
    text-align: center;
    margin: auto;
    color: black;
    margin: 0 auto;
    margin-top: 10px;
}

/* Margenes entre iconos de redes en seccion PROJECT */
.section-project__project i{
    margin: 15px;
}

.separacion-project{
    margin-top: 10px;
    height: -1px;
    padding-top:2px ;
    background-color: #fca80091;
}

/* Centrar un button  */
.section-project__info {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
}

/* Seccion Skills  */
#section-skills{
    height: 790px;
    padding-top: 70px;
}

#container-skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    justify-items: center;
    align-items: center;
    margin-top: 130px;
}
#section-skills h4{
    font-family: 'League Spartan', sans-serif;
    color: black;
    font-size: 25px;
    /* margin-bottom: 70px; */
}
#container-skills .titulo{
    font-size: 35px;
}
#container-skills .titulo, i {
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: (2, 1fr);
    justify-items: center;
    align-content: center; 
    
}

#section-skills i{
    color: black;
    margin-top: 15px;
    /* text-align: center; */
}
#container-skills #codes, #herramientas{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    

}
#container-skills #codes i, #herramientas i{
    margin-right: 20px;
}