/* ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS ELEMENTOS  */
*{
    margin:0px;
    padding: 0px;
}
body{
    /* height: 5120px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    
}


/* Secciones en general*/
section{
    height: 730px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: solid black;
}

/* Entradas de texto */
h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
    color: black;
}
h1, h2, h3{
    font-family: 'League Spartan', sans-serif;
}
h2{
    font-size: 30px;
    text-align: center;
    line-height: 25px;
}
h3{
    color: black;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    color: black;
}
/* Cambio de color */
span{
    color: #FCA700;
    font-size: 45px;
}

/* Animacion a enlaces internos y externos */
a:any-link{
    color: black;  
}
a:-webkit-any-link{
    color: black;
}
a:-moz-any-link{
    color: black;
} 
a:hover{
    color: #FCA700;   
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}



/* ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID ID  */

/* Barra de navegacion */
#nav-bar{
    font-family: 'Merriweather Sans', sans-serif;
    position: fixed;
    width: 100%;
    background-color: #fbf5ea;
    text-align: center;
    height: 80px;
}

/* Documentacion listas https://developer.mozilla.org/en-US/docs/Web/CSS/list-style  */
#nav-bar #nav-bar__lista .nav-bar__tag{
    color: black;
    display:inline-block;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 20px;

    
}
#nav-bar #nav-bar__lista{
    list-style: none; /* Oculta el punto de la lista desordenada  */
    text-align:center; /*Centra la lista */
    height: 80px;
}

/* Configuracion por la barra de navegacion  */
#section-home{
    height: 650px;
    padding-top: 200px;
    
}
#section-home__about-me{
    text-align: center;
}
/* Posiciona la barra de navegacion ordenada a la derecha 
y deja de ser una lista con float */

/* Segunda seccion  */
#section-project{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Seccion proyectos FLEX */
#section-project__container {
    /* background-color: #e8aeae; */
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 5px;
    margin-top: 70px;
} 
#section-project__see-more{
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 70px;
    border-radius: 50px;
    border-color: transparent;
    background-color: black;
    font-family: 'League Spartan', sans-serif;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    color: #FCA700;
}

#section-project__see-more:hover{
    background-color: #FCA700;
    color: black;   
}


/* Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases Clases  */

/* Barra de navegacion */
.nav-bar__section{
    font-size: 19px;
}
/* Estilos a .clases  */
.profesion{
    color: #666060;
    /* text-align: center;  */
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 44px;
    text-align: center;
}

/* Cambiar a footer en html */
.redes-sociales{
    margin-top: 200px;
    margin-right: 10px;
    float: right;
}

/* Contenedores en seccion PROJECT FLEX */

/* Cambiar nombres de clases  */
.section-project__block h3{
    font-size: 20px;
    /* width: auto; */
    text-align: center;
    margin-top: 15px;
}

/* boton */
.section-project__block .section-project__info{
    margin-top: 15px;
    width: 100px;
    height: 40px;
    border:  transparent; 
    /* hacer bordes redondos  */
    border-radius: 50px;
    font-size: 18px;
    font-family: 'League Spartan', sans-serif;
    color: black;
    background-color: #fca80091;
}
.info-project:hover{
    background-color: #FCA700;
    color: black; 
    /* transition: background-color 0.5s;  */
}

/* Imagenes  */
.section-project__block .project-img{
    width: 80%; 
    /* padding-left: 40px; */
    margin-top: 15px;  
    
}

/* Ancho de ARTICLE  */
.section-project__block{
    width: 350px;
    background-color: #fbf5ea;
    border-radius: 50px;
}


/* Div centrado de seccion PROJECT */
.section-project__project{
    text-align: center;
    margin: autox;
    color: black;
    margin: 0 auto;
    margin-top: 10px;
    
}

/* Margenes entre iconos de redes en seccion PROJECT */
.section-project__project i{
    margin: 15px;
}

.separacion-project{
    margin-top: 10px;
    height: -1px;
    padding-top:2px ;
    background-color: #fca80091;
}

/* Centrar un button  */
.section-project__info {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
}