/* Estilos generales a elementos html - css  */
*{
    margin:0px;
    padding: 0px;
}
body{
    /* height: 5120px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

/* Cambiar por lenguaje semantico  */
nav{
    /* height: 100px; */
    font-family: 'Merriweather Sans', sans-serif;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* barra de notificaciones estatica  */
    position: fixed;
    width: 100%;
    background-color: #fff1d6;
    text-align: center;
    border-bottom: px #FCA700;
    height: 80px;
}

/* Oculta el punto de la lista desordenada  */
/* Documentacion listashttps://developer.mozilla.org/en-US/docs/Web/CSS/list-style  */
nav ul li {
    color: black;
    display:inline-block;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 20px;

    
}
nav ul{
    list-style: none;
    text-align:center; /*Centra la lista */
    height: 80px;
}

section{
    height: 730px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: solid black;
}

h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 50px;
    color: black;
}
h1, h2, h3{
    font-family: 'League Spartan', sans-serif;

}
h2{
    font-size: 30px;
    text-align: center;
    line-height: 25px;
}
h3{
    color: black;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
    color: black;
}
span{
    color: #FCA700;
}
img{
    width: 30px;
}
.project-img{
    width: 20%;
}
/* Redes sociales  */
i{
    color: black;
    font-size: 30px;
}

/* Links  */
i:hover{
    color: #FCA700;
}

a:any-link{
    color: black;  
}
a:-webkit-any-link{
    color: black;
}
a:-moz-any-link{
    color: black;
} 
a:hover{
    color: #FCA700;   
}
a{
    text-decoration: none;
    color: black;
}

/* flexbox  */

/* .container{ */
    /* display: flex; */
    /* flex-direction:row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
/* } */

/* Estilos a #id's  */
#home{
    height: 650px;
    padding-top: 200px;
    /* border-bottom: solid black; */
}

/* Posiciona la barra de navegacion ordenada a la derecha 
y deja de ser una lista con float */
.redes-sociales{
    margin-top: 200px;
    margin-right: 10px;
    float: right;
    margin-bottom: 100px;
    padding-bottom: 100px;
    border: solid black;
}
#img-perfil{
    width: 10%;
}

#about-me{
    text-align: center;
}


/* Estilos a .clases  */
.profesion{
    color: #666060;
    /* text-align: center;  */
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 44px;
    text-align: center;
}
.nav{
    font-size: 19px;
}